body {
    background-color: #c0c0c0;
}
h1 {
    background-color: #e0e0e0;
}
p {
    color: white;
    font-size: 20px;
}
.p14 {
    background-color: #0088dd;
}
.p13 {
    background-color: #0095e2;
}
.p12 {
    background-color: #00a0e6;
}
.p11 {
    background-color: #30aae9;
}
.p10 {
    background-color: #54b6ed;
}
.p9 {
    background-color: #72c1f0;
}
.p8 {
    background-color: #8ccaf2;
}
.p7 {
    background-color: #00bb88;
}
.p6 {
    background-color: #f5b0cc;
}
.p5 {
    background-color: #f69fc0;
}
.p4 {
    background-color: #f58cb2;
}
.p3 {
    background-color: #f47ba6;
}
.p2 {
    background-color: #f36a97;
}
.p1 {
    background-color: #f45a8b;
}
.p0 {
    background-color: #ee3f80;
}